/*.annotation {*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*padding: 2px;*/
    /*border: black;*/
    /*font: 12px sans-serif;*/
    /*background: lightgray;*/
    /*border: 2px;*/
    /*border-radius: 8px;*/
    /*pointer-events: none;*/
/*}*/
#annotation-text text {
    fill: black;
}
.outside-brush {
    opacity: 0.1;
}

th, td {
    //border: 1px solid black;
    padding: 5px;
    font-size: 11px;
}

tspan {
    fill: black;
}
div {
    display: block;
}

div .invisible{
    display: none;
}

h1 {
    color: lightsteelblue;
}
.chart rect.bar-papers {
    fill: orange;
}

.chart rect.bar-papers:hover {
    fill: darkorange;
}

.chart rect.bar-citations {
    fill: lightsteelblue;
}

.chart rect.bar-citations:hover {
    fill: cornflowerblue;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.attack {
    style: "color:red"
}

.type-category-color-article {
    stroke: red;
}

.type-category-color-abstract-report {
    stroke: lime;
}

.type-category-color-article-in-press {
    stroke: navy;
}

.type-category-color-book {
    stroke: orange;
}

.type-category-color-business-article {
    stroke: yellow;
}

.type-category-color-conference-paper {
    stroke: blue;
}
.type-category-color-conference-review {
    stroke: magenta;
}
.type-category-color-editorial {
    stroke: purple;
}
.type-category-color-note {
    stroke: teal;
}
.type-category-color-open-access {
    stroke: coral;
}
.type-category-color-review {
    stroke: lavender;
}
.type-category-color-short-survey {
    stroke: beige;
}
.type-category-color-unknown {
    stroke: olive;
}
